body {
	background: #000;
	color: #fff;
}

#main {
	float: left;
	width: 80%;
	background: #fff;
}

#controls {
	float: left;
	width: 20%;
}

#controls label, #controls input, #controls button {
	width: 90%;
	margin: 10px 5%;
}